<% include partials/header%>

  <div class = "jumbotron text-center" id="hero">

		<div class = "hero-text">
			<h1>Hi, I'm Otari.</h1>
			<h2 id = "hero-message"><span></span></h2>
		</div>

    <div>
      <a class = "resume btn btn-primary" href ="/resume.pdf" target="_blank">
        Resume
      </a>
    </div>

    <div class = "learn-scroll">
      <a href="#about">
        <p>Learn more about what I do</p>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </a>
    </div>

	</div>



  <section class = "about" id="about">
    <h1 class = "section-title">ABOUT ME</h1>
    <hr class="title-hr">
    <p class="text-muted text-center"><i class="fa fa-map-pin" aria-hidden="true"></i> New York City</p>
    <div class="container">
        <h5 class="text-left">Professional</h5>
        <hr class="title-hr">
        <p>
          Hi, my name is <strong>Otari Kobiashvili</strong>. I am a self-taught web developer living in New York City,
          with a background in automobile sales and financing, and have been learning web development, full-time, since November 2016.
        </p>
        <p>
          I enjoy building responsive interfaces with HTML, CSS and Javascript using the latest UI frameworks and techniques,
          and with a good eye for detail. I strive in busy, fast-paced environments and keep up to date with current technology trends.
        </p>
        <h5 class="text-left">Personal</h5>
        <hr class="title-hr">
        <p>
          When I'm away from the computer, I enjoy reading, playing pick-up basketball, as well as watching professional basketball,
          and I'm an avid gamer.
        </p>
        <div class="more-info text-center">
            <h5 class="text-left">Want to learn more about me?</h5>
            <hr class="title-hr">
            <p class="small text-left">Click <a href="/resume.pdf">here</a> for a pdf of my most current resume.</p>
          </div>
    </div>
  </section>



  <section class = "skills" id="skills">
    <h1 class = "skill-title">SKILLS</h1>
    <hr class="title-hr">
    <p class="text-muted">Languages, Frameworks, & Libraries</p>
    <div class = "skill-logos container">

      <div class = "row">

        <div class ="col-sm-12 col-md-4 dev">
          <h3>FRONT END</h3>
          <hr>
          <div class="type">
            <i class="skill devicon-html5-plain-wordmark colored"></i>
            <i class="skill devicon-css3-plain-wordmark colored"></i>
            <i class="skill devicon-bootstrap-plain-wordmark colored"></i>
            <i class="skill devicon-javascript-plain colored"></i>
            <i class="skill devicon-jquery-plain-wordmark colored"></i>
          </div>
        </div>

        <div class ="col-sm-12 col-md-4 dev">
          <h3>BACK END</h3>
          <hr>
          <div class="type">
            <i class="skill devicon-nodejs-plain-wordmark colored"></i>
            <i class="skill devicon-express-original-wordmark"></i>
            <i class="skill devicon-sequelize-plain-wordmark colored"></i>
            <i class="skill devicon-mongodb-plain-wordmark colored"></i>
            <i class="skill devicon-postgresql-plain-wordmark colored"></i>
          </div>
        </div>

        <div class ="col-sm-12 col-md-4 dev">
          <h3>TOOLS</h3>
          <hr>
          <div class="type">
            <i class="skill devicon-git-plain-wordmark colored"></i>
            <i class="skill devicon-github-plain-wordmark"></i>
            <i class="skill devicon-visualstudio-plain colored"></i>
            <i class="skill devicon-heroku-line-wordmark colored"></i>
          </div>
        </div>
        <div class="col-12 dev learning">
          <h3>LEARNING</h3>
          <hr>
          <p class="text-muted small">I'm always learning new things. Here's what I'm focusing on now:</p>
          <div class="type">
            <i class="skill devicon-react-original-wordmark colored"></i>
            <i class="skill devicon-webpack-plain-wordmark colored"></i>
            <i class="skill devicon-php-plain colored"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class = "portfolio" id="portfolio">
    <h1 class = "portf-title">PORTFOLIO</h1>
    <hr class="title-hr">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top" src="/images/cityhauling.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">City Hauling</h3>
                  <hr>
                  <span class="tag">HTML5</span>
                  <span class="tag">CSS3</span>
                  <span class="tag">Bootstrap</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">JQuery</span>
                </div>
                <div class="card-footer">
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="#" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    You're telling the enemy exactly what you're going to do.
                    No wonder you've been fighting Lorem Ipsum your entire adult life.
                    I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things.
                  </p>
                  <p><a href="cityhauling.co" target="_blank">cityhauling.co</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top" src="/images/yelpcamp.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">YelpCamp</h3>
                  <hr>
                  <span class="tag">EJS</span>
                  <span class="tag">JQuery</span>
                  <span class="tag">Node.js</span>
                  <span class="tag">Express</span>
                  <span class="tag">MongoDB</span>
                  <span class="tag">Mongoose</span>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="#" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    You're telling the enemy exactly what you're going to do.
                    No wonder you've been fighting Lorem Ipsum your entire adult life.
                    I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things.
                  </p>
                  <p><a href="#">View Github Repository</a></p>
                  <p><a href="#">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top" src="/images/simongame.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Simon Says</h3>
                  <hr>
                  <span class="tag">HTML5</span>
                  <span class="tag">CSS3</span>
                  <span class="tag">Bootstrap</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">JQuery</span>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="#" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    You're telling the enemy exactly what you're going to do.
                    No wonder you've been fighting Lorem Ipsum your entire adult life.
                    I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things.
                  </p>
                  <p><a href="#">View Github Repository</a></p>
                  <p><a href="#">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top" src="/images/tictactoe.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">TicTacToe</h3>
                  <hr>
                  <span class="tag">HTML5</span>
                  <span class="tag">CSS3</span>
                  <span class="tag">Bootstrap</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">JQuery</span>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="#" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    You're telling the enemy exactly what you're going to do.
                    No wonder you've been fighting Lorem Ipsum your entire adult life.
                    I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things.
                  </p>
                  <p><a href="#">View Github Repository</a></p>
                  <p><a href="#">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top" src="/images/pomodoro.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Pomodoro Clock</h3>
                  <hr>
                  <span class="tag">HTML5</span>
                  <span class="tag">CSS3</span>
                  <span class="tag">Bootstrap</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">JQuery</span>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="#" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    You're telling the enemy exactly what you're going to do.
                    No wonder you've been fighting Lorem Ipsum your entire adult life.
                    I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things.
                  </p>
                  <p><a href="#">View Github Repository</a></p>
                  <p><a href="#">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top" src="/images/calc.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">JavaScript Calculator</h3>
                  <hr>
                  <span class="tag">HTML5</span>
                  <span class="tag">CSS3</span>
                  <span class="tag">Bootstrap</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">JQuery</span>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="#" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    You're telling the enemy exactly what you're going to do.
                    No wonder you've been fighting Lorem Ipsum your entire adult life.
                    I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things.
                  </p>
                  <p><a href="#">View Github Repository</a></p>
                  <p><a href="#">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top" src="/images/twitchapi.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Twitch API</h3>
                  <hr>
                  <span class="tag">HTML5</span>
                  <span class="tag">CSS3</span>
                  <span class="tag">Bootstrap</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">JQuery</span>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="#" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    You're telling the enemy exactly what you're going to do.
                    No wonder you've been fighting Lorem Ipsum your entire adult life.
                    I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things.
                  </p>
                  <p><a href="#">View Github Repository</a></p>
                  <p><a href="#">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top" src="/images/wikiviewer.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Wikipedia Viewer</h3>
                  <hr>
                  <span class="tag">HTML5</span>
                  <span class="tag">CSS3</span>
                  <span class="tag">Bootstrap</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">JQuery</span>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="#" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    You're telling the enemy exactly what you're going to do.
                    No wonder you've been fighting Lorem Ipsum your entire adult life.
                    I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things.
                  </p>
                  <p><a href="#">View Github Repository</a></p>
                  <p><a href="#">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class = "contact" id="contact" >
    <h1 class = "contact-title">CONTACT</h1>
    <hr class="title-hr">
    <div class = "container">

      <div id="myForm" class="form-wrapper">
        <a href="javascript:void(0)" class="form-close-btn">&times;</a>
        <div class="overlay-content">
          <div class = "row">
            <div class = "col-sm-1"></div>
            <div class = "col-sm-10 form-container">
              <div class = "static-logo"><span>OK</span></div>
              <h1>Just a few quick questions.</h1>
              <p>
                Lorem Ispum is a choke artist. It chokes! We have
                so many things that we have to do better...
                and certainly ipsum is one of them.
              </p>
              <form action="https://formspree.io/otarikobi@gmail.com" method="POST">
                <div class ="row">
                  <div class = "col-sm-1 col-lg-2"></div>
                  <div class = "col-sm-5 col-lg-4">
                    <div class = "form-group">
                      <input class = "form-control" type="text" name="name" placeholder="Name*" required="required">
                    </div>
                    <div class = "form-group">
                      <input class = "form-control" type="text" name="phone" placeholder="Phone Number">
                    </div>
                  </div>
                  <div class = "col-sm-5 col-lg-4">
                    <div class = "form-group">
                      <input class = "form-control" type="text" name="email" placeholder="Email*" required="required">
                    </div>
                    <div class = "form-group">
                      <input class = "form-control" type="text" name="company" placeholder="Company">
                    </div>
                  </div>
                  <div class = "col-sm-1 col-lg-2"></div>
                  <div class = "col-sm-12">
                    <div class = "form-group">
                      <textarea class="form-control" rows="7.5" name="message" placeholder="I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things."></textarea>
                    </div>
                    <div class="form-group">
                      <button class = "btn form-btn btn-md" type="submit">Send</button>
                      <p>* Required</p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class = "col-sm-1"></div>
          </div>
        </div>
      </div>

      <div class = "row">
          <div class="col-md-6">
            <img id="profile-image" class ="img-fluid" src="/images/profile_img2.jpg" alt="portfoilio_image">
            <h3>Looking to get in touch?</h3>
            <p class="small">
              I am currently available for hire.
            </p>
            <button id="form-btn" class = "btn form-btn btn-md">Message me now</button>
          </div>
          <div class="col-md-6">
            <div class = "contact-info">
              <hr>
              <p>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <strong> PHONE</strong>
                <br>
                Wanna talk?
                <br>
                I'm always available by phone.
                <p><a href="tel:347-369-9165">347-369-9165</a></p>
              </p>
              <hr>
              <p>
                @<strong> EMAIL</strong>
                <br>
                For any quick inquiries email me at:
                <p><a href="mailto:otarikobi@gmail.com">otarikobi@gmail.com</a></p>
              </p>
              <hr>
              <p>
                <i class="fa fa-users" aria-hidden="true"></i><strong> CONNECT</strong>
                <div>
                  <a href="https://www.linkedin.com/in/otari-kobiashvili-b0492692/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                  </a>

                  <a href="https://github.com/OtariKobiashvili" target="_blank">
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                  </a>

                  <a href="https://codepen.io/OtariKobiashvili/" target="_blank">
                    <i class="fa fa-codepen" aria-hidden="true"></i>
                  </a>

                  <a href="https://www.freecodecamp.com/otarikobiashvili" target="_blank">
                    <i class="fa fa-free-code-camp" aria-hidden="true"></i>
                  </a>

                  <a href="https://www.facebook.com/OtariKobiashvili" target="_blank">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                  </a>
                </div>
              </p>
            </div>
          </div>
      </div>
    </div>
  </section>

<% include partials/footer%>

