<% include partials/header%>
  <header>
    <div class = "jumbotron text-center b-lazy" data-src="/images/office.jpg" id="hero">
      <div class = "hero-text">
        <h1>Hi, I'm Otari.</h1>
        <h2 id = "hero-message"><span></span></h2>
      </div>

      <div class="social-links">
        <a href="https://www.linkedin.com/in/otari-kobiashvili-b0492692/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://github.com/OtariKobiashvili" target="_blank" rel="noopener noreferrer"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        <a href ="/files/resume.pdf" target="_blank" rel="noopener noreferrer" title="Resume"><i class="fa fa-file-text" aria-hidden="true"></i></a>
        <a href="https://codepen.io/OtariKobiashvili/" target="_blank" rel="noopener noreferrer"><i class="fa fa-codepen" aria-hidden="true"></i></a>
        <a href="https://www.freecodecamp.com/otarikobiashvili" target="_blank" rel="noopener noreferrer"><i class="fa fa-free-code-camp" aria-hidden="true"></i></a>
      </div>

      <div class = "learn-scroll">
        <a href="#about">
          <p>Learn more about what I do</p>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
      </div>
	  </div>
  </header>

  <section class = "about" id="about">
    <h1 class = "section-title">ABOUT ME</h1>
    <hr class="title-hr">
    <p class="text-muted text-center"><i class="fa fa-map-pin" aria-hidden="true"></i> New York City</p>
    <div class="container">
        <h5 class="text-left">Professional</h5>
        <hr class="title-hr">
        <p>
          Hi, my name is <strong>Otari Kobiashvili</strong>. I am a self-taught web developer living in New York City,
          with a background in automobile sales and financing, and have been learning web development, full-time, since November 2016.
        </p>
        <p>
          I enjoy building responsive interfaces with HTML, CSS and Javascript using the latest UI frameworks and techniques,
          and with a good eye for detail. I strive in busy, fast-paced environments and keep up to date with current technology trends.
        </p>
        <h5 class="text-left">Personal</h5>
        <hr class="title-hr">
        <p>
          When I'm away from the computer, I enjoy reading, playing pick-up basketball, as well as watching professional basketball,
          and I'm an avid gamer.
        </p>
        <div class="more-info text-center">
          <h5 class="text-left">Want to learn more about me?</h5>
          <hr class="title-hr">
          <p class="small text-left">Click <a href="/files/resume.pdf">here</a> for a pdf of my most current resume.</p>
        </div>
    </div>
  </section>

  <section class = "skills" id="skills">
    <h1 class = "skill-title">SKILLS</h1>
    <hr class="title-hr">
    <p class="text-muted">Languages, Frameworks, & Libraries</p>
    <div class = "skill-logos container">

      <div class = "row">

        <div class ="col-sm-12 col-md-4 dev">
          <h3>FRONT END</h3>
          <hr>
          <div class="type">
            <i class="skill devicon-html5-plain-wordmark colored"></i>
            <i class="skill devicon-css3-plain-wordmark colored"></i>
            <i class="skill devicon-sass-original colored"></i>
            <i class="skill devicon-bootstrap-plain-wordmark colored"></i>
            <i class="skill devicon-javascript-plain colored"></i>
            <i class="skill devicon-jquery-plain-wordmark colored"></i>
            <i class="skill devicon-react-original-wordmark colored"></i>
            <i class="skill devicon-vuejs-plain colored"></i>
            <i class="skill devicon-angularjs-plain colored"></i>
          </div>
        </div>

        <div class ="col-sm-12 col-md-4 dev">
          <h3>BACK END</h3>
          <hr>
          <div class="type">
            <i class="skill devicon-nodejs-plain-wordmark colored"></i>
            <i class="skill devicon-express-original-wordmark"></i>
            <i class="skill devicon-sequelize-plain-wordmark colored"></i>
            <i class="skill devicon-mongodb-plain-wordmark colored"></i>
            <i class="skill devicon-postgresql-plain-wordmark colored"></i>
          </div>
        </div>

        <div class ="col-sm-12 col-md-4 dev">
          <h3>TOOLS</h3>
          <hr>
          <div class="type">
            <i class="skill devicon-gulp-plain colored"></i>
            <i class="skill devicon-webpack-plain-wordmark colored"></i>
            <i class="skill devicon-git-plain-wordmark colored"></i>
            <i class="skill devicon-github-plain-wordmark"></i>
            <i class="skill devicon-drupal-plain colored"></i>
            <i class="skill devicon-wordpress-plain colored"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class = "contact" id="contact" >
    <h1 class = "contact-title">CONTACT</h1>
    <hr class="title-hr">
    <div class = "container">

      <div id="myForm" class="form-wrapper">
        <a href="javascript:void(0)" class="form-close-btn">&times;</a>
        <div class="overlay-content">
          <div class = "row">
            <div class = "col-sm-1"></div>
            <div class = "col-sm-10 form-container">
              <div class = "static-logo"><span>OK</span></div>
              <h1>Just a few quick questions.</h1>
              <p>
                Thank you for your interest. Fill out the form below, and I will get back to you as soon as possible.
              </p>
              <form action="https://formspree.io/otarikobi@gmail.com" method="POST">
                <div class ="row">
                  <div class = "col-sm-1 col-lg-2"></div>
                  <div class = "col-sm-5 col-lg-4">
                    <div class = "form-group">
                      <input class = "form-control" type="text" name="name" placeholder="Name*" required="required">
                    </div>
                    <div class = "form-group">
                      <input class = "form-control" type="text" name="phone" placeholder="Phone Number">
                    </div>
                  </div>
                  <div class = "col-sm-5 col-lg-4">
                    <div class = "form-group">
                      <input class = "form-control" type="text" name="email" placeholder="Email*" required="required">
                    </div>
                    <div class = "form-group">
                      <input class = "form-control" type="text" name="company" placeholder="Company">
                    </div>
                  </div>
                  <div class = "col-sm-1 col-lg-2"></div>
                  <div class = "col-sm-12">
                    <div class = "form-group">
                      <textarea class="form-control" rows="7.5" name="message" placeholder="Tell me a little about your company or organization... i.e: current tech stack, position available, location etc..."></textarea>
                    </div>
                    <div class="form-group">
                      <button class = "btn form-btn btn-md" type="submit">Send</button>
                      <p>* Required</p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class = "col-sm-1"></div>
          </div>
        </div>
      </div>

      <div class = "row">
          <div class="col-md-6">
            <img id="profile-image" class ="img-fluid b-lazy" src="/images/ph.jpg" data-src="/images/profile_img2.png" alt="portfoilio_image">
            <h3>Looking to get in touch?</h3>
            <button id="form-btn" class = "btn form-btn btn-md">Message me now</button>
          </div>
          <div class="col-md-6">
            <div class = "contact-info">
              <hr>
              <p>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <strong> PHONE</strong>
                <br>
                Want to talk?
                <br>
                I'm always available by phone.
                <p><a href="tel:347-369-9165">347-369-9165</a></p>
              </p>
              <hr>
              <p>
                @<strong> EMAIL</strong>
                <br>
                For any quick inquiries email me at:
                <p><a href="mailto:otarikobi@gmail.com">otarikobi@gmail.com</a></p>
              </p>
              <hr>
              <p>
                <i class="fa fa-users" aria-hidden="true"></i><strong> CONNECT</strong>
                <div>
                  <a href="https://www.linkedin.com/in/otari-kobiashvili-b0492692/" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>

                  <a href="https://github.com/OtariKobiashvili" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                  </a>

                  <a href="https://codepen.io/OtariKobiashvili/" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-codepen" aria-hidden="true"></i>
                  </a>

                  <a href="https://www.freecodecamp.com/otarikobiashvili" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-free-code-camp" aria-hidden="true"></i>
                  </a>
                </div>
              </p>
            </div>
          </div>
      </div>
    </div>
  </section>
<% include partials/footer%>
