<% include partials/header%>
  <header>
    <div class = "jumbotron text-center b-lazy" data-src="/images/office.jpg" id="hero">
      <div class = "hero-text">
        <h1>Hi, I'm Otari.</h1>
        <h2 id = "hero-message"><span></span></h2>
      </div>

      <div class="social-links">
        <a href="https://www.linkedin.com/in/otari-kobiashvili-b0492692/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://github.com/OtariKobiashvili" target="_blank" rel="noopener noreferrer"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        <a href ="/files/resume.pdf" target="_blank" rel="noopener noreferrer" title="Resume"><i class="fa fa-file-text" aria-hidden="true"></i></a>
        <a href="https://codepen.io/OtariKobiashvili/" target="_blank" rel="noopener noreferrer"><i class="fa fa-codepen" aria-hidden="true"></i></a>
        <a href="https://www.freecodecamp.com/otarikobiashvili" target="_blank" rel="noopener noreferrer"><i class="fa fa-free-code-camp" aria-hidden="true"></i></a>
      </div>

      <div class = "learn-scroll">
        <a href="#about">
          <p>Learn more about what I do</p>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
      </div>
	  </div>
  </header>

  <section class = "about" id="about">
    <h1 class = "section-title">ABOUT ME</h1>
    <hr class="title-hr">
    <p class="text-muted text-center"><i class="fa fa-map-pin" aria-hidden="true"></i> New York City</p>
    <div class="container">
        <h5 class="text-left">Professional</h5>
        <hr class="title-hr">
        <p>
          Hi, my name is <strong>Otari Kobiashvili</strong>. I am a self-taught web developer living in New York City,
          with a background in automobile sales and financing, and have been learning web development, full-time, since November 2016.
        </p>
        <p>
          I enjoy building responsive interfaces with HTML, CSS and Javascript using the latest UI frameworks and techniques,
          and with a good eye for detail. I strive in busy, fast-paced environments and keep up to date with current technology trends.
        </p>
        <h5 class="text-left">Personal</h5>
        <hr class="title-hr">
        <p>
          When I'm away from the computer, I enjoy reading, playing pick-up basketball, as well as watching professional basketball,
          and I'm an avid gamer.
        </p>
        <div class="more-info text-center">
          <h5 class="text-left">Want to learn more about me?</h5>
          <hr class="title-hr">
          <p class="small text-left">Click <a href="/files/resume.pdf">here</a> for a pdf of my most current resume.</p>
        </div>
    </div>
  </section>

  <section class = "skills" id="skills">
    <h1 class = "skill-title">SKILLS</h1>
    <hr class="title-hr">
    <p class="text-muted">Languages, Frameworks, & Libraries</p>
    <div class = "skill-logos container">

      <div class = "row">

        <div class ="col-sm-12 col-md-4 dev">
          <h3>FRONT END</h3>
          <hr>
          <div class="type">
            <i class="skill devicon-html5-plain-wordmark colored"></i>
            <i class="skill devicon-css3-plain-wordmark colored"></i>
            <i class="skill devicon-bootstrap-plain-wordmark colored"></i>
            <i class="skill devicon-javascript-plain colored"></i>
            <i class="skill devicon-jquery-plain-wordmark colored"></i>
          </div>
        </div>

        <div class ="col-sm-12 col-md-4 dev">
          <h3>BACK END</h3>
          <hr>
          <div class="type">
            <i class="skill devicon-nodejs-plain-wordmark colored"></i>
            <i class="skill devicon-express-original-wordmark"></i>
            <i class="skill devicon-sequelize-plain-wordmark colored"></i>
            <i class="skill devicon-mongodb-plain-wordmark colored"></i>
            <i class="skill devicon-postgresql-plain-wordmark colored"></i>
          </div>
        </div>

        <div class ="col-sm-12 col-md-4 dev">
          <h3>TOOLS</h3>
          <hr>
          <div class="type">
            <i class="skill devicon-git-plain-wordmark colored"></i>
            <i class="skill devicon-github-plain-wordmark"></i>
            <i class="skill devicon-visualstudio-plain colored"></i>
            <i class="skill devicon-heroku-line-wordmark colored"></i>
          </div>
        </div>
        <div class="col-12 dev learning">
          <h3>LEARNING</h3>
          <hr>
          <p class="text-muted small">
            I'm always learning new things.<br>
            Here's what I'm focusing on now:
          </p>
          <div class="type">
            <i class="skill devicon-react-original-wordmark colored"></i>
            <i class="skill devicon-webpack-plain-wordmark colored"></i>
            <i class="skill devicon-php-plain colored"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class = "portfolio" id="portfolio">
    <h1 class = "portf-title">PORTFOLIO</h1>
    <hr class="title-hr">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top b-lazy" src="/images/ph.jpg" data-src="/images/cityhauling.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">City Hauling</h3>
                  <hr>
                  <span class="tag">EJS</span>
                  <span class="tag">Bootstrap</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">AJAX</span>
                  <span class="tag">Node.js</span>
                  <span class="tag">Express</span>
                  <span class="tag">Sequelize</span>
                  <span class="tag">PostgreSQL</span>
                </div>
                <div class="card-footer">
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="http://cityhauling.co" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    City Hauling is a junk hauling company based in Queens, New York.
                    We worked to completely refactor the website to a more modern responsive design,
                    add the ability for the client to manage all bookings through one easy to use Admin UI on their mobile phone,
                    and created a database for the client to keep track of all their users information.
                    Currently a work in progress.
                  </p>
                  <p><a href="http://cityhauling.co" target="_blank" rel="noopener noreferrer">cityhauling.co</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top b-lazy" src="/images/ph.jpg" data-src="/images/yelpCamp.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">YelpCamp</h3>
                  <hr>
                  <span class="tag">EJS</span>
                  <span class="tag">Bootstrap</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">JQuery</span>
                  <span class="tag">AJAX</span>
                  <span class="tag">Node.js</span>
                  <span class="tag">Express</span>
                  <span class="tag">MongoDB</span>
                  <span class="tag">Mongoose</span>
                </div>
                <div class="card-footer">
                  <a href="https://github.com/OtariKobiashvili/yelp_camp" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="https://yelpcamp-otari.herokuapp.com/" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    YelpCamp is a fullstack web application built using the tools provided by node.js, express, and mongoose. Features include the ability to
                    view all user submitted campgrounds, create an account, edit your profile, add your own campground, leave comments, and rate campgrounds.
                  </p>
                  <p><a href="https://github.com/OtariKobiashvili/yelp_camp" target="_blank" rel="noopener noreferrer">View Github Repository</a></p>
                  <p><a href="https://yelpcamp-otari.herokuapp.com/" target="_blank" rel="noopener noreferrer">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top b-lazy" src="/images/ph.jpg" data-src="/images/mountains2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Mountain Travel</h3>
                  <hr>
                  <span class="tag">HTML5</span>
                  <span class="tag">CSS3</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">Flexbox</span>
                  <span class="tag">Animation</span>
                  <span class="tag">Responsive</span>
                </div>
                <div class="card-footer">
                  <a href="https://github.com/OtariKobiashvili/fictional_landing_page" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="https://otarikobiashvili.github.io/fictional_landing_page/" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    Mountains is a landing page built for a fictional start up that does mountain tours.
                    It was built without any libraries or frameworks, just pure CSS3 and JavaScript and made responsive by Flexbox.
                  </p>
                  <p><a href="https://github.com/OtariKobiashvili/fictional_landing_page" target="_blank" rel="noopener noreferrer">View Github Repository</a></p>
                  <p><a href="https://otarikobiashvili.github.io/fictional_landing_page/" target="_blank" rel="noopener noreferrer">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top b-lazy" src="/images/ph.jpg" data-src="/images/whattoeat.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">What to Eat?</h3>
                  <hr>
                  <span class="tag">CSS3</span>
                  <span class="tag">Flexbox</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">AJAX</span>
                  <span class="tag">JSX</span>
                  <span class="tag">React</span>
                  <span class="tag">Babel</span>
                  <span class="tag">Webpack</span>
                  <span class="tag">NPM</span>
                </div>
                <div class="card-footer">
                  <a href="https://github.com/OtariKobiashvili/what_to_eat" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="https://otarikobiashvili.github.io/what_to_eat/" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    Uses the <a href="https://www.edamam.com/" rel="noopener noreferrer">Edamam</a> API to show a randomized list of recipes based on a search input,
                    that, when clicked, will take you to another page with full details of the recipe.
                    This project was built to get a more comfortable with React components, AJAX calls using fetch, and managing state in a react application.
                  </p>
                  <p><a href="https://github.com/OtariKobiashvili/what_to_eat" target="_blank" rel="noopener noreferrer">View Github Repository</a></p>
                  <p><a href="https://otarikobiashvili.github.io/what_to_eat/" target="_blank" rel="noopener noreferrer">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top b-lazy" src="/images/ph.jpg" data-src="/images/reactvidplayer.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">React Video</h3>
                  <hr>
                  <span class="tag">CSS3</span>
                  <span class="tag">Bootstrap</span>
                  <span class="tag">Responsive</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">AJAX</span>
                  <span class="tag">JSX</span>
                  <span class="tag">React</span>
                  <span class="tag">Yarn</span>
                </div>
                <div class="card-footer">
                  <a href="https://github.com/OtariKobiashvili/react_video_player" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="https://otarikobiashvili.github.io/react_video_player/" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    Searchs through the youtube API via AJAX to display a current video in an iframe, and related results.
                    Built with Reach components, and basic bootstrap styling.
                  </p>
                  <p><a href="https://github.com/OtariKobiashvili/react_video_player" target="_blank" rel="noopener noreferrer">View Github Repository</a></p>
                  <p><a href="https://otarikobiashvili.github.io/react_video_player/" target="_blank" rel="noopener noreferrer">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top b-lazy" src="/images/ph.jpg" data-src="/images/simongame.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Simon Says</h3>
                  <hr>
                  <span class="tag">HTML5</span>
                  <span class="tag">CSS3</span>
                  <span class="tag">Bootstrap</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">JQuery</span>
                  <span class="tag">Responsive</span>
                </div>
                <div class="card-footer">
                  <a href="https://github.com/OtariKobiashvili/simon_game" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="https://otarikobiashvili.github.io/simon_game/" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    Reimagining of the <a href="https://en.wikipedia.org/wiki/Simon_Says" target="_blank" rel="noopener noreferrer">Simon Says</a> kids game.
                    Play the classic on your web browser. Built using two arrays as data structures to represent the random CPU moves,
                    and the players choices. Includes a strict mode, where if you get one move wrong, you start over.
                  </p>
                  <p><a href="https://github.com/OtariKobiashvili/simon_game" target="_blank" rel="noopener noreferrer">View Github Repository</a></p>
                  <p><a href="https://otarikobiashvili.github.io/simon_game/" target="_blank" rel="noopener noreferrer">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top b-lazy" src="/images/ph.jpg" data-src="/images/tictactoe.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Tic Tac Toe</h3>
                  <hr>
                  <span class="tag">HTML5</span>
                  <span class="tag">CSS3</span>
                  <span class="tag">Bootstrap</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">JQuery</span>
                  <span class="tag">Responsive</span>
                </div>
                <div class="card-footer">
                  <a href="https://github.com/OtariKobiashvili/tic_tac_toe" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="https://otarikobiashvili.github.io/tic_tac_toe/" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    Basic <a href="https://en.wikipedia.org/wiki/Tic-tac-toe" target="_blank" rel="noopener noreferrer">Tic Tac Toe</a> game, where you can choose to be X or O, and play
                    against the computer. Built using the minmax algorithm to allow the computer to test all possible moves, and filter them to pick the best possible
                    move available, based on a score it assigns to all the tested moves.
                  </p>
                  <p><a href="https://github.com/OtariKobiashvili/tic_tac_toe" target="_blank" rel="noopener noreferrer">View Github Repository</a></p>
                  <p><a href="https://otarikobiashvili.github.io/tic_tac_toe/" target="_blank" rel="noopener noreferrer">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top b-lazy" src="/images/ph.jpg" data-src="/images/pomodoro.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Pomodoro Clock</h3>
                  <hr>
                  <span class="tag">HTML5</span>
                  <span class="tag">CSS3</span>
                  <span class="tag">Bootstrap</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">JQuery</span>
                  <span class="tag">Responsive</span>
                </div>
                <div class="card-footer">
                  <a href="https://github.com/OtariKobiashvili/pomodoro" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="https://otarikobiashvili.github.io/pomodoro/" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    Web application built to emulate the <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique" target="blank">pomodoro technique</a> time management method.
                    You can set your work time, and break time, and then start the clock, and it will count down to zero, alert you, then automatically
                    begin the next iteration of work, or play, depending on what was prior.
                  </p>
                  <p><a href="https://github.com/OtariKobiashvili/pomodoro" target="_blank" rel="noopener noreferrer">View Github Repository</a></p>
                  <p><a href="https://otarikobiashvili.github.io/pomodoro/" target="_blank" rel="noopener noreferrer">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top b-lazy" src="/images/ph.jpg" data-src="/images/calc.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">JS Calculator</h3>
                  <hr>
                  <span class="tag">HTML5</span>
                  <span class="tag">CSS3</span>
                  <span class="tag">Bootstrap</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">JQuery</span>
                  <span class="tag">Responsive</span>
                </div>
                <div class="card-footer">
                  <a href="https://github.com/OtariKobiashvili/javascript-calculator" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="https://otarikobiashvili.github.io/javascript-calculator/" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    A basic calculator built using Javascript/Jquery. Works by pushing the number on the calculator screen in to
                    a entries array, when an operator is clicked, and pushing that operator in to the same array, then looping through
                    that array and building up a final number.
                  </p>
                  <p><a href="https://github.com/OtariKobiashvili/javascript-calculator" target="_blank" rel="noopener noreferrer">View Github Repository</a></p>
                  <p><a href="https://otarikobiashvili.github.io/javascript-calculator/" target="_blank" rel="noopener noreferrer">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="card-front">
                <img class="card-img-top b-lazy" src="/images/ph.jpg" data-src="/images/wikiviewer.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Wikipedia Viewer</h3>
                  <hr>
                  <span class="tag">HTML5</span>
                  <span class="tag">CSS3</span>
                  <span class="tag">Bootstrap</span>
                  <span class="tag">Javascript</span>
                  <span class="tag">JQuery</span>
                  <span class="tag">Responsive</span>
                  <span class="tag">AJAX</span>
                </div>
                <div class="card-footer">
                  <a href="https://github.com/OtariKobiashvili/wikipedia_viewer" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <button class="btn btn-sm btn-primary card-flip">About</button>
                  <a href="https://otarikobiashvili.github.io/wikipedia_viewer/" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary" title="See Demo"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <h4 class="card-title">About this project</h4>
                  <hr>
                  <p class="proj-info">
                    Developed using the <a href="https://www.mediawiki.org/wiki/API:Main_page" target="_blank" rel="noopener noreferrer">Wikipedia API</a>, this is a simple
                    Wikipedia viewer that enables you to search through Wikipedia pages, and open a random page. Works by sending your search to
                    the API as a request, and uses the response to append to the html on the page.
                  </p>
                  <p><a href="https://github.com/OtariKobiashvili/wikipedia_viewer" target="_blank" rel="noopener noreferrer">View Github Repository</a></p>
                  <p><a href="https://otarikobiashvili.github.io/wikipedia_viewer/" target="_blank" rel="noopener noreferrer">See Live Demo</a></p>
                </div>
                <div class="card-footer text-left">
                  <button class="btn btn-sm btn-primary card-flip">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 text-center small">
          <p>See more on <a href="https://github.com/OtariKobiashvili" target="_blank" rel="noopener noreferrer">GitHub</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class = "contact" id="contact" >
    <h1 class = "contact-title">CONTACT</h1>
    <hr class="title-hr">
    <div class = "container">

      <div id="myForm" class="form-wrapper">
        <a href="javascript:void(0)" class="form-close-btn">&times;</a>
        <div class="overlay-content">
          <div class = "row">
            <div class = "col-sm-1"></div>
            <div class = "col-sm-10 form-container">
              <div class = "static-logo"><span>OK</span></div>
              <h1>Just a few quick questions.</h1>
              <p>
                Thank you for your interest. Fill out the form below, and I will get back to you as soon as possible.
              </p>
              <form action="https://formspree.io/otarikobi@gmail.com" method="POST">
                <div class ="row">
                  <div class = "col-sm-1 col-lg-2"></div>
                  <div class = "col-sm-5 col-lg-4">
                    <div class = "form-group">
                      <input class = "form-control" type="text" name="name" placeholder="Name*" required="required">
                    </div>
                    <div class = "form-group">
                      <input class = "form-control" type="text" name="phone" placeholder="Phone Number">
                    </div>
                  </div>
                  <div class = "col-sm-5 col-lg-4">
                    <div class = "form-group">
                      <input class = "form-control" type="text" name="email" placeholder="Email*" required="required">
                    </div>
                    <div class = "form-group">
                      <input class = "form-control" type="text" name="company" placeholder="Company">
                    </div>
                  </div>
                  <div class = "col-sm-1 col-lg-2"></div>
                  <div class = "col-sm-12">
                    <div class = "form-group">
                      <textarea class="form-control" rows="7.5" name="message" placeholder="Tell me a little about your company or organization... i.e: current tech stack, position available, location etc..."></textarea>
                    </div>
                    <div class="form-group">
                      <button class = "btn form-btn btn-md" type="submit">Send</button>
                      <p>* Required</p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class = "col-sm-1"></div>
          </div>
        </div>
      </div>

      <div class = "row">
          <div class="col-md-6">
            <img id="profile-image" class ="img-fluid b-lazy" src="/images/ph.jpg" data-src="/images/profile_img2.jpg" alt="portfoilio_image">
            <h3>Looking to get in touch?</h3>
            <p class="small">
              I am currently available for hire.
            </p>
            <button id="form-btn" class = "btn form-btn btn-md">Message me now</button>
          </div>
          <div class="col-md-6">
            <div class = "contact-info">
              <hr>
              <p>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <strong> PHONE</strong>
                <br>
                Wanna talk?
                <br>
                I'm always available by phone.
                <p><a href="tel:347-369-9165">347-369-9165</a></p>
              </p>
              <hr>
              <p>
                @<strong> EMAIL</strong>
                <br>
                For any quick inquiries email me at:
                <p><a href="mailto:otarikobi@gmail.com">otarikobi@gmail.com</a></p>
              </p>
              <hr>
              <p>
                <i class="fa fa-users" aria-hidden="true"></i><strong> CONNECT</strong>
                <div>
                  <a href="https://www.linkedin.com/in/otari-kobiashvili-b0492692/" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>

                  <a href="https://github.com/OtariKobiashvili" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                  </a>

                  <a href="https://codepen.io/OtariKobiashvili/" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-codepen" aria-hidden="true"></i>
                  </a>

                  <a href="https://www.freecodecamp.com/otarikobiashvili" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-free-code-camp" aria-hidden="true"></i>
                  </a>
                </div>
              </p>
            </div>
          </div>
      </div>
    </div>
  </section>
<% include partials/footer%>
