/*body*/

body {
	-webkit-font-smoothing: antialiased;
	color: #444444;
	font-family: 'Montserrat', sans-serif;
}

.no-scroll {
	position: fixed;
	overflow-y: scroll;
	right: 0;
	left: 0;
}
hr.title-hr {
	max-width: 50px;
	margin-top: .25rem;
	margin-bottom: .25rem;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgba(82,101,143,.7);
}
/*///////////////NAV BAR/////////////////*/
.active {
	background-color: rgb(82,101,143);
	border-radius: 1px;
	transition: .3s;
}
.navbar {
	transition: .3s all ease-in-out;
	-webkit-transition: 0.3s all ease-in-out;
	-moz-transition: 0.3s all ease-in-out;
	-ms-transition: 0.3s all ease-in-out;
	-o-transition: 0.3s all ease-in-out;
}
.nav-bg {
	background-color: #333a56;
}
.nav-col {
	color: black!important;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,245,230, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler-right {
	top: 19px;
	cursor: pointer;
	color: white;
	border: none;
}
.navbar-light .navbar-brand {
	color: white;
}
.navbar-brand {
	max-width: 100px;
}
.nav-link {
	padding: .20em 1em;
}
.logo {
	border-radius: 100%;
	transition: all 0.5s ease-in-out;
	-webkit-transition: 0.5s all ease-in-out;
	-moz-transition: 0.5s all ease-in-out;
	-ms-transition: 0.5s all ease-in-out;
	-o-transition: 0.5s all ease-in-out;
	font-size: 1.3em;
	width: 45px;
	height: 45px;
	text-align: center;
	border: 2px solid white;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.logo:hover {
	transform: scaleY(-1);
	transition-delay: 0s;
}
.logo-text {
	position: relative;
	top: 0px;
	right: .5px;
}
/* //////////Nav-toggler-animation///////////// */
.menu-btn {
  display: block;
  width: 26px;
}
.menu-btn:before,
.menu-btn:after {
	background-color: rgba(255,255,255,.8);
	border-radius: 5px;
  content: '';
  display: block;
  height: 2px;
  transition: all 200ms ease-in-out;
}
.menu-btn:before {
  box-shadow: 0 8px 0 rgba(255,255,255,.8);
  margin-bottom: 14px;
}
.menu-btn.open-nav:before {
  box-shadow: 0 0 0 rgba(255,255,255,.8);
  transform: translateY(10px) rotate(45deg);
}
.menu-btn.open-nav:after{
  transform: translateY(-6px) rotate(-45deg);
}
/*//////////////////LANDING //////////////////////*/
.jumbotron {
	margin-top: -75px;
	border-radius: 0px;
	position: relative;
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.7)), url("/images/office.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 568px;
	height: 101vh;
}
.hero-text {
	color: white;
	display: block;
  height: 140px;
  margin-top: 23.5%;
  transform: translateY(-50%);
	text-shadow : .3px .3px black;
}
.hero-text h1, .hero-text h2{
	font-size: 3.75rem;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-weight: 300;
	line-height: 1.1;
	margin-bottom: 0;
}
.typed-cursor {
	animation: blink 1s step-end infinite;
	font-size: 3.5rem;
	opacity: 1;
	position: relative;
	right: 5px;
	bottom: 2px;
}
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#hero-message{
	transition: all .3s ease;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	position: relative;
	display: inline-block;
	border-radius: 1.5px;
	margin: 0px;
}
.social-links a {
	display: inline-block;
	color: rgba(255,255,255,0.7);
	text-decoration: none;
	margin: 0 4px;
	margin-top: -10px;
	height: 36px;
	width: 36px;
	font-size: 1rem;
	line-height: 2.15;
	background-color: rgba(0,0,0,0.1);
	border: 1px solid rgba(255,255,255,0.7);
	border-radius: 50px;
	transition: all .1s ease-in-out;
}
.social-links a:hover {
	color: #fff;
	border-color: #fff;
}
.learn-scroll {
	font-size: .95rem;
	cursor: pointer;
	margin: 0 auto;
	max-width: 200px;
	position: absolute;
	top: 87%;
	left: 0;
	right:0;
	text-align: center;
	animation: bounce 2s 4s infinite;
}
.learn-scroll p{
	margin-bottom: 5px;
}
@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	40% {
		-webkit-transform: translateY(-1.25em);
		transform: translateY(-1.25em)
	}
	60% {
		-webkit-transform: translateY(-.625em);
		transform: translateY(-.625em)
	}
}
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	40% {
		-webkit-transform: translateY(-1.25em);
		transform: translateY(-1.25em)
	}
	60% {
		-webkit-transform: translateY(-.625em);
		transform: translateY(-.625em)
	}
}
.learn-scroll a {
	color: rgba(255,255,255,.7);
}
.learn-scroll a:hover {
	color: white;
	text-decoration: none;
}
/*///////////////// ABOUT ///////////////////*/
.about {
	margin: 35px auto;
	line-height: 1.75;
	max-width: 800px;
	padding: 0 20px;
}
.about .container p:not(.small) {
	font-size: .95rem;
}
.section-title {
	margin-bottom: 5px;
	text-align: center;
}
.about .container .title-hr{
	margin-left: 0;
}
.about .more-info {
	display: inline-block;
	margin: 0 auto;
}
.about .resume {
	margin-top: 0px;
	background: transparent;
	border: 1px solid #333a56;
	border-radius: 40px;
	font-size: .8rem;
	padding: .5rem 1rem;
	color: #333a56;
}
.about .resume:focus {
	color: white;
}
.about .resume:hover {
	color: white;
	background: #333a56;
	border: 2px solid #333a56;
	padding: .5rem 1rem;
}
/*//////////////////////////// SKILLS//////////////////*/

.skills {
	text-align: center;
	padding: 5px 0;
	background-color: #F7F5E6;
}
.skill {
	font-size: 4.5em;
	position: relative;
	margin: 0px 15px;
}
.devicon-express-original-wordmark{
	color: purple;
}
.devicon-github-plain-wordmark{
	color:rgb(130,182,200);
}
.skill-logos {
	line-height: 55px;
}
.skill-logos i{
	filter:grayscale(100%);
	transition: .3s ease-in-out;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .3s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .3s ease-in-out;
}
.skill-logos i:hover{
	filter:grayscale(0%);
	transition: .3s ease-in-out;
  -webkit-filter: grayscale(0%);
  -webkit-transition: .3s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .3s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .3s ease-in-out;
}
.skill-title{
	margin: 30px 0;
	margin-bottom: 5px;
}
.skills h3 {
	margin-bottom: 5px;
}
.type {
	margin-bottom: 20px;
	max-width: 320px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.dev {
	margin-bottom: 25px;
}
.skills hr {
	max-width: 50px;
	margin-top: .25rem;
	margin-bottom: .25rem;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgba(82,101,143,.7);
}
.skills p {
	margin-bottom: 50px;
}
.dev hr {
	margin-bottom: 1rem;
}
.learning hr {
	margin-bottom: .25rem;
}
.learning p {
	margin-bottom: .5rem;
	margin-top: 5px;
	line-height: 1.5;
}
/*////////////////////////////PORTFOLIO///////////////*/
.portfolio {
	text-align: center;
	padding: 5px 0;
}
.portfolio h1 {
	margin: 30px 0;
	margin-bottom: 5px;
}
.portfolio .title-hr {
	margin-bottom: 1.5rem;
}
.card-container {
	-webkit-perspective: 800px;
 	-moz-perspective: 800px;
	-o-perspective: 800px;
	perspective: 800px;
	margin-bottom: 120px;
}
.card {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 6px;
	color: #444444;
	border: none;
	-webkit-transition: -webkit-transform .5s;
	-moz-transition: -moz-transform .5s;
	-o-transition: -o-transform .5s;
	transition: transform .5s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
 	position: relative;
}
.card-img-top {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #e5e5e5
}
.card-container.hover.manual-flip .card{
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
 	-o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
.card-container, .card-front, .card-back {
	width: 100%;
	min-height: 425px;
	border-radius: 6px;
}
.card-front {
	z-index: 2;
}
.card-body {
	text-align: left;
	min-height: 140px;
}
.card-body h3 {
	margin-bottom: 0;
}
.card-body hr {
	margin-top: .3rem;
	margin-bottom: .5rem;
}
.card-body span.tag {
	padding: 5px;
	background-color: rgb(82,101,143);
	font-size: .65rem;
	color: white;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
	margin-right: 5px;
	line-height: 2.5;
}
.card-footer {
	background-color: #f9f9f9;
	border-color: #e5e5e5
}
.card-footer .btn-primary {
	background-color: transparent;
	color: #333a56;
	cursor: pointer;
	border: 1px solid #333a56;
	border-radius: 40px;
	font-size: .8rem;
	padding: .42em .85em;
}
.card-footer .btn-primary:hover {
	color: white;
	background: #333a56;
	border: 1px solid #333a56;
}
.card-footer a.btn-primary {
	font-size: 1.15rem;
	padding: .1em .5em;
}
.card-footer a.btn-primary:hover {
	padding: .1em .5em;
}
.card-back {
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
	z-index: 3;
}
.card-back .proj-info {
	font-size: 90%;
	line-height: 1.6;
}
.card-front, .card-back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: #f9f9f9;
	border: 1px solid #e5e5e5;
	transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.card-front:hover, .card-back:hover {
	-webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.3);
	margin-top: -3px;
}
/*//////////////////////////CONTACT//////////////*/
.contact {
	text-align: center;
	padding: 5px 0;
	padding-bottom: 20px;
	background-color: #F7F5E6;
}
.contact .container hr {
	border: 1px solid rgba(82,101,143,.7);
	max-width: 175px;
}
.contact p {
	font-size: .85rem;
}
.form-wrapper {
	height: 100%;
	width: 0;
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgb(82,101,143);
	transition: 0.4s all ease-in-out;
	-webkit-transition: 0.4s all ease-in-out;
	-moz-transition: 0.4s all ease-in-out;
	-ms-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form-wrapper .form-close-btn {
	z-index: 3;
	position: fixed;
	top: 25px;
	right: 25px;
	font-size: 55px;
	border-radius: 50%;
	color: white;
	text-decoration: none;
	font-weight: 300;
	visibility: hidden;
}
.form-wrapper .form-close-btn:hover {
 color: #333a56;
}
.form-container {
	max-width: 60%;
	margin: 0 auto;
  padding: 44px 0 40px 0;
}
.form-container h1{
	color: white;
	margin-bottom: 20px;
}
.form-container p{
	width: 75%;
	margin: 0 auto;
	margin-bottom: 30px;
	color: rgba(255,255,255,0.7);
}
.form-control {
	background: transparent;
	border: 1px solid white;
	color: #fff;
	font-size: .8rem;
	max-width: 99%;
	margin: 0 auto;
	transition: .1s ease-in-out;
}
.form-control:hover{
	background: transparent;
	border: 1px solid #333A56;
	color: #fff;
}
.form-control:focus {
	background: transparent;
	border: 1px solid #333A56;
	color: #fff;
}
.form-group textarea {
	max-width: 82%;
}
.form-group p {
	font-size: .7rem;
}
.form-group .form-btn {
	color: white;
	border: 1px solid white;
	padding: .60em 1em;
}
.form-group .form-btn:hover {
	border: 1px solid #333A56;
	color: white;
	padding: .60em 1em;
}
input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.7) !important;
}
input:-moz-placeholder { /* Firefox 18- */
	color: rgba(255,255,255,0.7) !important;
}
input::-moz-placeholder {  /* Firefox 19+ */
	color: rgba(255,255,255,0.7) !important;
}
input:-ms-input-placeholder {
	color: rgba(255,255,255,0.7) !important;
}
textarea::-webkit-input-placeholder {
	color: rgba(255,255,255,0.7) !important;
}
textarea:-moz-placeholder { /* Firefox 18- */
	color: rgba(255,255,255,0.7) !important;
}
textarea::-moz-placeholder {  /* Firefox 19+ */
	color: rgba(255,255,255,0.7) !important;
}
textarea:-ms-input-placeholder {
	color: rgba(255,255,255,0.7) !important;
}
.contact h1{
		margin: 30px 0;
		margin-bottom: 5px;
}
#profile-image {
	margin: 15px 0;
	width: 275px;
	height: 275px;
	border-radius: 50%;
	filter: grayscale(15%);
	-webkit-filter: grayscale(15%);
	-moz-filter: grayscale(15%);
	-o-filter: grayscale(15%);
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .5);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .5);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .5);
}
.form-btn {
	background-color: transparent;
	color: #333a56;
	cursor: pointer;
	border: 2px solid #333a56;
	border-radius: 40px;
	font-size: 1rem;
	padding: .60em 1.15em;
}
.form-btn:hover {
	color: white;
	background: #333a56;
	border: 2px solid #333a56;
	padding: .60rem 2.0rem;
}
.contact-info{
	margin-top: 35px;
}
.contact-info a i{
	color: black;
}
.contact-info div a{
	font-size: 2.0rem;
	margin: 0 7.5px;
	text-decoration: none;
}
.contact-info a i:hover {
	color: rgb(82,101,143);
	transition: .1s ease-in-out;
	-webkit-transition: 0.1s all ease-in-out;
	-moz-transition: 0.1s all ease-in-out;
	-ms-transition: 0.1s all ease-in-out;
	-o-transition: 0.1s all ease-in-out;
}
/*//////////////////FOOTER/////////////////*/
footer {
	background-color: #333A56;
	padding: 40px 0;
	color: white;
}
footer p{
	margin: 0;
	font-size: .75rem;
}
.static-logo {
	border-radius: 100%;
	font-size: 2.25em;
	width: 65px;
	height: 65px;
	margin: 10px auto;
	margin-bottom: 30px;
	text-align: center;
	border: 2px solid white;
	color: white;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.static-logo span {
	position: relative;
	top: 3px;
	right: 1px;
}
@media screen and (min-width: 1200px){
	.card-container {
		margin-bottom: 200px;
	}
}
@media screen and (min-width: 991px){
	.form-group textarea {
		max-width: 65%;
	}
}
@media screen and (max-width: 991px){
	.hero-text h1, .hero-text h2{
		font-size: 3rem;
	}
	.typed-cursor {
		font-size: 2.75rem;
	}
	.card-container {
		margin-bottom: 40px;
	}
}
@media screen and (min-width: 767px){
	.contact .container hr:first-of-type {
		border: 0;
	}
	.contact-info {
		margin-top: 57.5px;
	}
}
@media screen and (max-width: 767px) {
	.tools{
		border-left: 0px;
	}
	.hero-text {
		margin-top: 35%;
	}
	.hero-text h1, .hero-text h2{
		font-size: 2.5rem;
		font-weight: 300;
		line-height: 1.1;
	}
	.typed-cursor{
		font-size: 2.25rem;
	}
	.portfolio {
		margin-bottom: 15px;
	}
	.card-container {
		margin-bottom: 155px;
	}
	.static-logo{
		width: 50px;
		height: 50px;
		font-size: 1.65em;
	}
	.form-container h1 {
		font-size: 1.9em;
	}
}
@media screen and (max-width: 575px) {
	.logo {
		width: 35px;
		height: 35px;
		font-size: 1.5em;
	}
	.logo-text{
		top: 1px;
	}
	.navbar-brand {
		font-size: .75rem;
	}
	.navbar-toggler-right {
		top: 11px;
	}
	.jumbotron {
		background-attachment: initial;
		margin-top: -50px;
	}
	.hero-text {
			margin-top: 60%;
	}
	.hero-text h1, .hero-text h2{
		font-size: 1.85rem;
		font-weight: 300;
		line-height: 1;
	}
	.typed-cursor{
		font-size: 1.5rem;
	}
	.contact-info {
		margin-top: 35px;
	}
	.form-group textarea {
		max-width: 100%;
	}
	.learn-scroll {
		top: 80%;
	}
	.about .container p:not(.small) {
		font-size: 88%;
	}
	.skills p.text-muted:not(.small) {
		font-size: 85%
	}
	.card-container {
		margin-bottom: 190px;
	}
}
@media screen and (max-width: 500px) {
	.card-container {
		margin-bottom: 120px;
	}
}
@media screen and (max-width: 430px) {
	.card-container {
		margin-bottom: 70px;
	}
}
@media screen and (max-width: 325px) {
	.hero-text h1, .hero-text h2{
		margin-top: 65%;
	}
	.resume {
		margin-top: -80px;
	}
	.card-container {
		margin-bottom: 30px;
	}
}












