/*body*/

body {
    -webkit-font-smoothing: antialiased;
}

/*///////////////NAV BAR/////////////////*/

.navbar {
	transition: .3s;
}
.nav-bg {
	background-color: #52658F;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.nav-col {
	color: black!important;
}
.navbar-inverse .navbar-nav .nav-link {
    color: white;
}
.navbar-toggler-right {
	top: 19px;
	cursor: pointer;
	color: white;
	border: none;
}
.navbar-brand {
	max-width: 100px;
}
#logo {
	border-radius: 100%;
	transition: all 0.5s;
	font-size: 1.5em;
	width: 55px;
	height: 55px;
	text-align: center;
	border: 2px solid white;
}
#logo:hover {
	transform: scaleY(-1);
	transition-delay: 0;
	transition: all 0.5s;
}
#logo-text {
	position: relative;
	top: 2px;
	right: 1px;
}

/*//////////////////LANDING //////////////////////*/
.jumbotron {
	margin-top: -80px;
	border-radius: 0px;
	position: relative;
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.7)), url("/images/office.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 450px;
	height: 101vh;
}
.hero-text {
	color: white;
	display: block;
  height: 140px;
  margin-top: 19.5%;
  transform: translateY(-50%);
	text-shadow : 1.2px 1.2px black;
}
.hero-text h1, .hero-text h2{
	font-size: 3.15rem;
	font-weight: 300;
	line-height: 1.1;
}
#hero-message{
	transition: all .3s ease;
	display: inline-block;
	border-radius: 1.5px;
	margin: 0px;
}
.resume {
	display: inline-block;
	background: transparent;
	margin-top: -35px;
	border: 2px solid white;
	border-radius: 40px;
	font-size: 1.1rem;
	padding: .6em 1.2em;
}
.resume:hover {
	color: black;
	background: #52658F;
	border: 2px solid #52658F;
	padding: .65rem 2.4rem;
}
.learn-scroll {
	font-size: .95rem;
	cursor: pointer;
	margin: 0 auto;
	max-width: 200px;
	position: absolute;
	top: 87%;
	left: 0;
	right:0;
	text-align: center;
}
.learn-scroll a {
	color: rgba(255,255,255,.7);
}
.learn-scroll a:hover {
	color: white;
}
/*///////////////// ABOUT ///////////////////*/
#about {
	margin: 35px auto;
	text-align: center;
	line-height: 40px;
	max-width: 450px;
}
.section-title {
	margin-bottom: 25px;
}

/*//////////////////////////// SKILLS//////////////////*/

.skills {
	text-align: center;
	padding: 5px 0;
	background-color: #F7F5E6;
}
.skill {
	font-size: 5em;
	position: relative;
	margin: 0px 15px;
}
.devicon-express-original-wordmark{
	color: purple;
}
.devicon-github-plain-wordmark{
	color:rgb(130,182,200);
}
.skill-logos {
	line-height: 55px;
}
.skill-logos i{
	cursor: pointer;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .3s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .3s ease-in-out;
}
.skill-logos i:hover{
  -webkit-filter: grayscale(0%);
  -webkit-transition: .3s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .3s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .3s ease-in-out;
}
.skill-title{
	margin: 30px 0;
}
.type {
	margin-bottom: 20px;
	border-left: 1px solid grey;
}
.front {
	border-left: 0px;
}
.type h3{
	margin-bottom: 15px;
}


@media screen and (max-width: 768px) {
	.tools{
		border-left: 0px;
	}
	.hero-text {
		margin-top: 35%;
	}
	.hero-text h1, .hero-text h2{
		font-size: 2.5rem;
		font-weight: 300;
		line-height: 1.1;
	}
}
@media screen and (max-width: 575px) {
	#logo {
		width: 35px;
		height: 35px;
	}
	.navbar-brand {
		font-size: .75rem;
	}
	.navbar-toggler-right {
		top: 11px;
	}
	.jumbotron {
		background-attachment: initial;
		margin-top: -62px;
	}
	.resume{
		margin-top: -140px;
		font-size:.9rem;
	}
	.hero-text {
			margin-top: 40%;
	}
	.hero-text h1, .hero-text h2{
		font-size: 2.0rem;
		font-weight: 300;
		line-height: 1.1;
	}
	.type {
		border-left: 0px;
	}
}

@media screen and (max-width: 325px) {
	.hero-text h1, .hero-text h2{
		margin-top: 60%;
	}
	.resume {
		margin-top: -50px;
	}
}












